@page "{search}"
@model PopcornReady.Razor.Pages.TvShows.AddModel
@{
}


<div class="row mt-2">
    <div class="col-6 offset-2">
        <a asp-page="./Index" class="btn mb-2 btn-danger">Back</a>
    </div>
</div>

<form method="post">

    <div class="row">
        <div class="col-6 offset-2">
            <input hidden asp-for="TvShow.ApiId" />
            <input hidden asp-for="TvShow.LastUpdateDate" />
            <div class="card">
                <div class="card-body">
                    <div class="card-group ">
                        <label asp-for="TvShow.Name"></label>
                        <input class="form-control" readonly asp-for="TvShow.Name" />
                    </div>
                    <div class="card-group">
                        <label asp-for="TvShow.Status"></label>
                        <input class="form-control" readonly asp-for="TvShow.Status" />
                    </div>
                    <div class="card-group">
                        <label asp-for="TvShow.StartDate"></label>
                        @if (Model.TvShow.StartDate.HasValue)
                        {
                            <input class="form-control" readonly asp-for="TvShow.StartDate.Value" />
                        }
                        else
                        { <input class="form-control" readonly />}
                    </div>
                    <div class="card-footer mt-2">
                        @if (Model.TvShow.NextEpisode != null)
                        {
                            <label asp-for="TvShow.NextEpisode"></label>
                            <div class="form-group">
                                <input class="form-control" readonly asp-for="TvShow.NextEpisode.Name" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" readonly asp-for="TvShow.NextEpisode.AirDate" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" readonly asp-for="TvShow.NextEpisode.Number" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" readonly asp-for="TvShow.NextEpisode.Season" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" readonly asp-for="TvShow.Url" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6 offset-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
