@page
@model PopcornReady.Razor.Pages.TvShows.IndexModel
@{
}

<form method="post">
    <div class=" ml-2 mt-5 form-group d-flex">
        <input class="form-control col-4" placeholder="arrow" asp-for="Search" />
        <button type="submit" class="ml-2 btn btn-success">Search</button>
        <span class="text-danger ml-2" asp-validation-for="Search"></span>
    </div>
</form>
<div class="row">
    <div class="col-10">
        @if (Model.TvShows?.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Show</th>
                        <th>Status</th>
                        <th>Next Episode</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var show in Model.TvShows)
                {
                    <tr>
                        <partial name="_TvShowTableRowPartial" model="show" />
                        <td>
                            <form method="post">
                                <button type="submit" asp-route-id="@show.Id" asp-page-handler="Delete" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}